.home {
  margin-top: 125px;
  width: 100%;
  height: 87vh;
  text-align: center;
  background-image: url('./images/HomePageBackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  overflow: hidden;
}

.login-reg-form {
  margin-top: 125px;
  width: 100%;
  height: 87vh;
  text-align: center;
  background-image: url('./images/LoginPageBackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  overflow: hidden;
}

.about {
  margin-top: 125px;
  width: 100%;
  height: 87vh;
  text-align: center;
  background-image: url('./images/AboutPageBackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  overflow: hidden;
}

.contact {
  margin-top: 125px;
  width: 100%;
  height: 87vh;
  text-align: center;
  background-image: url('./images/ContactPageBackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  overflow: hidden;
}

.about-inner-picture {
  align-content: center;
  border-radius: 50px;
  height: 50%;
  width: 65%;
  background-image: url('./images/AboutPageInner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  overflow: hidden;
}

div > .search-bg {
  width: 75%;
  height: 75vh;
  margin-left: 12.5%;
  background-position: center;
  background-color: rgb(148, 184, 184,0.75);
  border-radius: 25px;
}

div > .contact-bg {
  width: 100%;
}

.home-search-bar {
  width: 50%;
  display: flex;
  margin-left: 25%;
}

.about-page {
  position: relative;
  width: 75%;
  height: 75vh;
  margin-left: 12.5%;
  background-position: center;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
}

.about-content {
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}


.main-page-nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: white;
  color: black;
}

.nav-links {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
