.home {
  margin-top: 125px;
  width: 100%;
  height: 87vh;
  text-align: center;
  background-image: url('./images/HomePageBackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  overflow: hidden;
}

.login-reg-form {
  margin-top: 125px;
  width: 100%;
  height: 87vh;
  text-align: center;
  background-image: url('./images/LoginPageBackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  overflow: hidden;
}

.about {
  margin-top: 125px;
  width: 100%;
  height: 87vh;
  text-align: center;
  background-image: url('./images/AboutPageBackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  overflow: hidden;
}

.result-page {
  margin-top: 125px;
  background-color:rgba(149, 218, 214, 0.9);
  width: 100%;
  height: 87vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  overflow: hidden;
}

.result-page > h1 {
  text-align: left;
}

.result-list-container {
  display: block;
  list-style: none;
  width: 100%;
  transition: width 0.3s;
  margin: auto;
  position: relative;
}

.result-list-items {
  display: block;
  list-style: none;
  background: white;
  margin: 10px auto;
  padding: 10px;
  font-size: 1.2rem;
  width: 100%;
  border-radius: 10px;
}

.result-list-items:hover {
  font-weight: bold;
  color: #00b4cc;
  cursor: pointer;
}

.error-page {
  margin-top: 125px;
  background-color:rgba(136, 69, 69, 0.9);
  width: 100%;
  height: 87vh;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  overflow: hidden;
}

.profile {
  margin-top: 125px;
  width: 100%;
  height: 87vh;
}

.contribute-page {
  margin-top: 125px;
  width: 100%;
  height:100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(137, 179, 137);
  position:static;
}

.contribution-container {
  padding: 2em;
}

.add-review-form {
  margin-top: 125px;
  width: 100%;
  height:100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(137, 179, 137);
  position:static;
}

.add-review-container {
  padding: 2em;
}

.about-inner-picture {
  align-content: center;
  border-radius: 50px;
  height: 50%;
  width: 65%;
  max-width: 100%;
  background-image: url('./images/AboutPageInner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  overflow: hidden;
}

div > .search-bg {
  width: 75%;
  height: 75vh;
  margin-left: 12.5%;
  background-position: center;
  background-color: rgb(148, 184, 184,0.75);
  border-radius: 25px;
}

div > .contact-bg {
  width: 100%;
}

.home-search-bar {
  width: 50%;
  display: flex;
  margin-left: 25%;
}

.about-page {
  position: relative;
  width: 75%;
  height: 75vh;
  margin-left: 12.5%;
  background-position: center;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
}

.about-content {
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}


.main-page-nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  min-width: 25%;
  background: white;
  color: black;
}

.nav-links {
    width: 20%;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.login {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: #e9e9e9;
  display: flex;
}

.btnContainer button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #bb3b3b;
  cursor: pointer;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgb(47, 22, 22) 0%,
    rgba(72, 20, 20, 0.9) 59%,
    rgba(75, 17, 17, 0.9) 100%
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: rgb(255, 238, 0);
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.profile .profile-content {
  margin-left: 10%;
  max-width: 100%;
}

.profile .btnContainer {
  margin-top: 10%;
  width: 100%;
  padding: 24px 0;
}

.profile .btnContainer button {
  border: none;
  outline: none;
  width: 50%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #bb3b3b;
  cursor: pointer;
  margin-left: 25%;
}

.search {
  width: 50rem;
  margin: 1rem auto 2rem auto;
  text-align: right;
  position: relative;
}

.search-box {
  border: 4px solid transparent;
  border-radius: 2px;
  font-size: 2rem;
  width: 100%;
  padding: 1rem;
  transition: width 0.3s;
}

.search-box:focus {
  width: 100%;
  outline: none;
  border: 4px solid #08a1b6;
}

.search-btn {
  height: 100%;
  width: 4em;
  margin-top: -2em;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  opacity: 0.2;
  background-color: transparent;
  border: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAQAAAAAYLlVAAACnElEQVR4AcXZsUsbYRjH8e+dh2s1SyAGJwMJuDj1BIcEhJQIOnTq5F+QOf0jIq79A7oFh7aYyVBEkaZDC3awECc1AUXRIqUQotfFocnjJe/dk+b9PKP65Md7z13ee3Uwk2SNHKmngs5TnbDLJQqjA+RYZ4OXuDzvkSYf+cAJ44fPAYFhHeAzVhlqBBGrRoax8KjSJYhRXap4KCVoECiqQQKFLC0CZbXIElOBOwJ9cUchzm2Y5QsveN4tdfY4o00HSDHHPKuUmOV5v/D5SSSJ0MXfIY+HBB55dkIvRIIIvJDR28dnFJ/9kHH0MFaVDehRxlSZnuxAFUMZunKQKBJFUQ4wXTIYqcmPZ5GoFmUEahjw5eJTJI6ivBD4jCS/csrEVZZfU4yQk5OPhrwjcoRygQ0GVdCQf73OUEfisaMkHk1HDJHkYeDX82jlBzo+kCSEyxruwDP/EK1DbsWnhHDFgNTpodWjLgY9NECKfnvoyS4p8wBngN5Z/ABtQK8dP0AH0OuYB5iMqfAAMque7HJtHmAOPdnlxjzAPHqyy5V5gFX0ZJfj8AAn9CvhoeVRol8zPMAuj/xrlhW0Vpg1D3ApflhGR3b4wTlDvI24i4u+w9y0uyVrM213U1qxuy2/Z8bui8m23VezgGW7L6cBLdIWXs9FBAsHFCLCJI9opFMKXEzkkEp/IbK0bEdI0LARQRzVWoigPKy+Z5tlWooIiuP6NhVmAEiPNwLkqHDEw5CGx2wyDQDRI8T7l80U19xwxTFNmpwzKM1nFsyeCw7jFymCAxYjrHDp8r9cUOCUYRZ4Bw6AxVV47QJYXIVXLliNsOSC1Qh/XLAa4ZuDmmIcH1l2AaytwhZfmaAkn/qOb7eYBofJekOJJX7znfccAvwFyB3OeNys7d4AAAAASUVORK5CYII=");
}

.search-btn:hover {
  outline: none;
  opacity: 0.4;
  cursor: pointer;
}

.search-btn:focus {
  outline: none;
  opacity: 0.6;
}

ul.options {
  display: block;
  list-style: none;
  width: 100%;
  transition: width 0.3s;
  margin: auto;
  position: relative;
  overflow:auto;
}

ul.options li {
  display: block;
  background: white;
  margin: 10px auto;
  padding: 10px;
  font-size: 1.2rem;
  width: 50em;
  border-radius: 2px;
}

ul.options li:hover {
  font-weight: bold;
  color: #00b4cc;
  cursor: pointer;
  transition: 0.3s all;
}

ul.options li.option-active {
  background: whitesmoke;
  font-size: 1.25rem;
  color: #00b4cc;
}
.no-options {
  font-weight: 600;
  font-size: larger;
  color: rgb(255, 255, 255);
}

.restaurant-page {
  background-color:rgba(149, 218, 214, 0.9);
  padding: 3em;
  width: 40%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  overflow: hidden;
}

.add-link:hover {
  font-size: 1.1rem;
}

.review-area {
  margin-top: 125px;
  margin-left: 40%;
  width: 60%;
  min-height: 87vh;
  height: 110%;
  background-color: #70bec4;
  position:absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(144, 201, 211);
  position:static;
}

.review-container {
  width: 95%;
  position: static;
}

.review-container > li {
  padding: 10px;
  display: block;
  list-style: none;
  background: white;
  margin: 10px auto;
  border-radius: 10px;
}